@font-face {
  font-display: swap;
  font-family: "AgoniaLyubviRegular";
  font-style: normal;
  font-weight: 400;
  src: url("/src/assets/fonts/AgoniaLyubviRegular.ttf") format("truetype");
}

@font-face {
  font-display: swap;
  font-family: "Calme Extra";
  font-style: normal;
  font-weight: 400;
  src: url("/src/assets/fonts/Extrano.ttf") format("truetype");
}

@font-face {
  font-display: swap;
  font-family: "LeJardinRegular";
  font-style: normal;
  font-weight: 400;
  src: url("/src/assets/fonts/LeJardinFloral.woff") format("woff");
}

@font-face {
  font-display: swap;
  font-family: "Numbers";
  font-style: normal;
  font-weight: 400;
  src: url("/src/assets/fonts/Lato-Regular.ttf") format("truetype");
}

@font-face {
  font-display: swap;
  font-family: "bickhamscriptone";
  font-style: normal;
  font-weight: 400;
  src: url("/src/assets/fonts/bickhamscriptone.ttf") format("truetype");
}

@font-face {
  font-display: swap;
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  src: url("/src/assets/fonts/inter-400.woff2") format("woff2");
}
